@model FPTBookstoreApplication.Models.Category

@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_AdminPage.cshtml";
}


<div class="wrapper">

    @using (Html.BeginForm("AddCategory", "ManageCategory", FormMethod.Post, new { @class = "login-form", role = "form" }))
    {

        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="header">
            <h2 class="header-login">Add New Category</h2>
        </div>

        <div class="login-items">

            <div class="username-password-items">
                <p>@Html.LabelFor(m => m.CategoryName, new { @class = "header-input-item" })</p>
                @Html.TextBoxFor(m => m.CategoryName, new { @class = "input-item" })
                @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })

                <p>@Html.LabelFor(m => m.Description, new { @class = "header-input-item" })</p>
                @Html.TextBoxFor(m => m.Description, new { @class = "input-item" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>

            <div style="margin-bottom:5%;" class="btn-item">
                <button type="submit" class="submit-btn1">Add</button>
            </div>
            <div class="btn-item">
                <button class="submit-btn23">
                    @Html.ActionLink("Cancel", "Index", "ManageCategory")
                </button>
            </div>
        </div>

    }
</div>